//This is the print CSS for the INTERACT website
@media print {
    @page {
        padding: 0;
        margin: 3cm 2cm;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    h2{
        font-size:  1.5em;
    }
    h3{
        font-size:  1.2em;
    }
    img {
        max-width: 100% !important;
    }
    ul,
    img {
        page-break-inside: avoid;
    }
    body {
        color: #000 !important;
        background: #fff;
        width: 100%;
        margin: 0 0 0 0;
        padding: 0;
		page-break-after: avoid;
    }
	a {
		text-decoration: underline !important;
	}
    .top-bar {
        text-align: center;
        background: transparent;
        box-shadow: none;
        position: static;
    }
    .stage,
    .sec-nav,
    .footer,
    .nav,
    span.print-page, nav, .secondary-nav, .primary-nav {
        display: none !important;
    }
    .main:before {
        //content: "INTERACT 2017, Mumbai, India";
        font-size: 1.5em;
    }
    .wrapper {
        width: 90%;
    }
    .span-3 {
        @include clearContainer;
        width: 30% !important;
    }
    .main {
        width: 90% !important;
        margin: 0 auto !important;
        & p {
            display: block;
        }
    }
    .narrow{
        margin: 0 auto;
        padding: 0;
    }
    .content{
        margin-top: 4.5em;
        padding-top: 1.5em;
//        border-top:1px solid #ccc;
        
    }
    .content .right-col{
        padding:0;
        margin: 0 auto;
        float: none;
        width:99%;
    }
	.content a.back-to{
		display: none;
	}
	.left-col{
		display: none;
	}
	.ft-selected{
		border:0;
		padding:0;
		box-shadow: none;
		page-break-after: always;
		& h4{
			page-break-before: always !important;
		}
		&:hover{
			box-shadow: none;
		}
		& .show-abstract, .hide-abstract{
			display: none;
		}
		& .ft-abstract{
			height: auto;
		}
		& .grad-layer{
			display: none;
		}
		&:last-child{
//			border:0;
		}
		border-bottom:1px solid #CCC;
		padding-bottom:1em;
		margin-bottom:3em;
		
	}
	.panel{
		display: block !important;
	}
	.show-in-print{
		display: block;
	}
	.hide-in-print{
		display: none;
	}
	.tabs{
		display: none;
	}
	.pattern{
		display: none;
	}
}