//All the declared SCSS variables and other componenets.
//For INTERACT 2017 Website

//Grid Specifications
//Effectively a 1200px, 12-col grid, it is a 1180px grid with 1em padding on each side. 
$gutter: 20px; //gutter space according to 960px grid
$colWidth: 80px; //width of each column according to 1200px grid

//Column Widths Fixed
$fullWrapperWidth:1180px;//full wide wrapper width.1200px grid with 10px padding on either side
$narrowWrapperWidth:780px;//sometimes we don't use full wrapper width as it is too wide. So we use a narrow column sometimes
$leftColWidth: 300px;// the full column in some cases would be split into two columns. this is the width of the left column where we usually use a secondary navigation
$rightColWidth:780px;// the full column in some cases would be split into two columns. this is the width of the right column which has the main content

//Column Widths Variable
$fluidWrapperWidth:96%;
$fluidleftColWidth:auto;
//Font Declarations
//$Ubuntu: 'Ubuntu', sans-serif;
//$Roboto: 'Roboto', sans-serif;
$SourceSansPro: 'Source Sans Pro', sans-serif;
$AlegreyaSerif: 'Alegreya', serif;
$light: 300;

//Variables used more than once in the CSS
$headerHeight:4.063em; //height of the top bar which is the header
$genHyperlinkColor:#009cb1;
$textColor:#424242;
$smallFontSize:0.75em;

//Yellow Button Colors
$yellowButtonBGNormal:#f47920;
$yellowButtonBGHover:#F7941D;
$yellowButtonBGActive:#EA7D1E;
$yellowButtonText:#FFF;

//Colors
$red:#E35359;
$green:rgba(83, 179, 110, 1);


//This mixin is used to declare CSS3 clearing/wrapping of div tags
//In earlier days, this was used as clear:both in each div. Remember?
@mixin clearContainer {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//Used to determine the width of each div/container based on how many columns it spans according to the 960px grid
// Not using this anywhere as of now
@function columnWidth($n){
    @return ($n * $colWidth) + ($n - 1)*$gutter;
} 