{{#articleItems}}
<div class="article-snippet">
    <div class="article-preview"><img src="{{articleImage}}" width="50" /></div>
    <div class="article-writeup">
        <h3><a href="{{articleURL}}" target="_blank">{{articleTitle}}</a></h3>
        <div class="topics">
            <ul>
                {{{tags}}}
            </ul>
        </div>
    </div>
</div>
{{/articleItems}}